version: '3.1'
services:
  db:
    image: dwmkerr/dynamodb
    restart: always
  kube:
    image: rancher/k3s:latest
    restart: always
    tty: true
    privileged: true
    command: "/bin/k3s server --https-listen-port 6443"
    volumes:
      - /lib/modules:/lib/modules
      - kubernetes:/etc/rancher
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    ports:
      - 30000-30200:30000-30200
# {PORTS}
  nfs:
    image: itsthenetwork/nfs-server-alpine
    restart: always
    privileged: true
    tty: true
    environment:
      - SHARED_DIRECTORY=/srv
    volumes:
      - nfsdata:/srv
  slate:
    depends_on:
      - db
      - kube
    image: slateci/ms-slate:k3s
    command: /usr/bin/supervisord -c /etc/supervisord.conf
    stdin_open: true
    tty: true
    volumes:
      - kubernetes:/etc/rancher
# {VOLUMES}
    ports:
      - 5000:5000
      - 5100:5100
      - 18080:18080
volumes:
  kubernetes:
  nfsdata:
